<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Otro Modelo / Another Model</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    body {
      background-image: url('https://i.postimg.cc/8zDTX8VG/metro5.jpg');
    }
  </style>
</head>
<body>
  <div class="logos-row" style="background-color: rgba(255, 255, 255, 0.7); border-radius: 10px;">
    <img src="https://agroconciencia.agrosavia.co/media/4finmqqk/unal.png">
    <img src="https://agroconciencia.agrosavia.co/media/pwvhl3sj/fac-ciencias.png">
  </div>

  <div class="container-fluid">
    <h1>🔧 Probar otro modelo / Test Another Model</h1>
    <h1>🔧 Modelo en Desarrollo / Model in Development</h1>
    <p>Esta sección estará disponible próximamente. / This section will be available soon.</p>
     <div class="container">
        
        <p>Gracias por tu interés. Este modelo aún se encuentra en fase de entrenamiento y validación.</p>
        <p>Próximamente estará disponible en esta misma plataforma.</p>
        <a href="{{ url_for('index') }}">⬅️ Volver al modelo principal</a>
       <a href="/descripcion-modelos">📝Descripción de modelos / Model description</a>
    </div>
    <p><a href="/">⬅️ Volver / Back</a></p>
  </div>
</body>
</html>
